.product-card{
    display: flex;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

/* product-card-left */
.product-card-left{
    position: relative;
    width: 648px;
    background-color: #fff;
}

.product-id-tag{
    width: 95px;
    position: relative;
    top: 40px;
    left: 30px;
    border-radius: 10px;
    border: 1px solid #DBDBDB;
    color: #DBDBDB;
    padding: 12px 20px;
    text-align: center;
}

.product-image{
    max-width: 100%;
}
.product-image img{
    width: 100%;
    padding: 110px 0;
}
.image-dots{
    gap: 20px;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 30px;
}
.dot{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #DBDBDB;
    margin: 0 5px;
}

.dot-active{
    background-color: #75D4DA;
}

/* product-card-right */

.product-card-right{
    width: 548px;
    background-color: #2D2E32;
    color: #fff;
    padding: 30px 50px;
}
.product-info{
    margin-bottom: 20px;
}
.product-category{
    color: #75D4DA;
    font-size: 16px;
    font-weight: 700;
}
.product-name{
    font-size: 48px;
    font-weight: 600;
    margin: 10px 0 0 0;
}
.product-brand{
    color: #777777;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    margin: 0 0 20px 0;
}
.product-sales{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product-price{
    display: flex;
    align-items: center;
    gap: 10px;
}
.price{
    color: #F0F0F0;
    font-size: 48px;
    font-weight: 700;
    display: flex;
    align-items: center; 
}
.star-container img{
    color: #F0F0F0;
    border-radius: 1px;
    margin: 0 10px;
    cursor: pointer;
}   

/* product-tab-details */
.product-tab-details{
    margin-bottom: 20px;
}
.tab-items{
    display: flex;
    gap: 30px;
    position: relative;
}
.tab-items::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #777777;
}
.tab-name{
    padding-bottom: 15px;
    font-size: 24px;
    cursor: pointer;
}
.tab-active{
    border-bottom: 3px solid transparent;
    border-bottom-color: #75D4DA;
    z-index: 2;
}
.tab-text{
    font-size: 24px;
    font-weight: 500;
    line-height: 135%;
    
    overflow: hidden;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    text-overflow: ellipsis;

    margin-bottom: 0;
    
}
.read-more{
    font-size: 24px;
    color: #75D4DA;
    cursor: pointer;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: end;
}

/* product-options */
.product-options{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
}
.color-selector{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
}

.option-label{
    font-size: 24px;
    color: #ffffff;
}

.color{
    display: flex;
    gap: 10px;
}

.color-circle{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.color-circle.c1{
    background-color: #EDC71D; 
}
.color-circle.c2{
    background-color: #EBE1D6;
}
.color-circle.c3{
    background-color: #C1B8B3;
}
.color-circle.c4{
    background-color: #C32315;
}
.color-circle.c5{
    background-color: #E67229;
}
.color-circle.c6{
    background-color: #5D4843;
}
.color-circle.active{
    border: 2px solid;
    border-color: #75D4DA;
}


/* quantity and price */
.quantity-and-peice{
    display: flex;
    justify-content: space-between;
}
.quantity{
    display: flex;
    gap: 20px;
    align-items: center;
}
.quantity-text{
    color: #ffffff;
    font-weight: 500;
    font-size: 24px;
    margin: 0px;
    display: flex;
    align-items: center;
}
.icon{
    width: 24px;
    height: 24px;
    cursor: pointer;

}
.number-box{
    width: 40px;
    height: 40px;
    background-color: #777777;
    border-radius: 5px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;

}
.number-box p{
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
}
.total-price{
    display: flex;
    align-items: center;
    gap: 20px;
}
.price-text{
    font-weight: 500;
    font-size: 24px;
    color: #ffffff;
    display: flex;
    align-items: center;
    margin: 0px;
}
.price-container-down{
    width: 64.29px;
    height: 33px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.price-container-down img{
    color: #F0F0F0;
    width: 12.29px;
    height: 24px;
}
.price-down{
    color: #F0F0F0;
    font-size: 24px;
    font-weight: 700;
}

/* 按鈕區塊 */
.group-buttons{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn{
    /* height: 53px; */
    background-color: transparent;
    border-radius: 50px;
    font-weight: 500;
    font-size: 24px;
    padding: 10px 0;
    cursor: pointer;
}
.btn.top{
    border: 1px solid #ffffff;
    color: #ffffff;
}

.btn.down{
    background-color: #75D4DA;
    color: #2D2E32;
}